<h1>最近フォローした人々</h1>
<% if flash[:alert] %>
  <div id="flash" style="color: red; border; red solid">
    <%= flash[:alert] %>
  </div>
<% end %>

<%= form_tag :action=>'create' do %>
  <div class="row show-grid">
    <div class="span8">
      <table class="table table-striped" >
        <tr>
          <td class="span6">ユーザー</td>
          <td class="span2">追加</td>
        </tr>
        <% @userlist.each do |user| %>
          <tr>
            <td>
              <div>
                <%= image_tag(user.profile_image_url) %>
                <%= link_to(user.screen_name, 'http://www.twitter.com/' + user.screen_name, { :target => '_blank'}) %>
                <%=h user.name %>
                <%=h user.location %>
              </div>
              <div>
                <%=h user.description %>
              </div>
            </td>
            <td>
              <%= check_box_tag "list_check[]", user.screen_name, { :checked => true} %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="span1">
      <%= submit_tag 'リスト作成' ,{:class=>'btn btn-large btn-primary'}%>
    </div>
  </div>
<% end %>
